<div class="container">
  <div class="row d-flex justify-content-center my-5 py-5 login-box">
    <div class="col-md-8 border rounded py-4 px-5 shadow">
      <h5 class="text-center mb-4">List Gear</h2>
      <%= simple_form_for (gear) do |f| %>
      <%= f.input :name, class: "d-flex justify-content-center" %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :category, :collection => Gear.categories%>
      <%= f.input :address %>
      <%= f.input :photo, input_html: { class: 'hidden'} %>
      <%= image_tag "", width: 300, class: "show", id: "photo-preview" %>
      <%= f.submit "Add Equipment", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>


