<div class="container">
  <div class="row d-flex justify-content-center my-5 py-5 login-box">
    <div class="col-md-6 border rounded py-4 px-5 shadow">
      <h4 class="text-center mb-4">Log in</h4>

      <%= simple_form_for(resource, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, "Log in", class: 'btn btn-danger btn-sm btn-block' %>
      <% end %>
      <div class="my-3 py-3 border-top">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

